* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  div.name_and_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    h1 {
      color: #263238;
    }
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 50px;
      a {
        color: #18191f;
        text-decoration: none;
      }
    }
  }
}
