@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #f5f7fa;
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  div.name_and_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    h1 {
      color: #263238;
    }
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 50px;
      a {
        color: #18191f;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  div.log_sign {
    button.login {
      width: 77px;
      height: 40px;
      background-color: #f5f7fa;
      border-radius: 6px;
      color: #4caf4f;
      font-size: 14px;
      font-weight: 500;
      border: none;
    }
    button.login:hover {
      background-color: #d9dbdc;
      cursor: pointer;
    }
    button.sign_up {
      width: 91px;
      height: 40px;
      border-radius: 6px;
      color: #ffffff;
      background-color: #4caf4f;
      font-size: 14px;
      font-weight: 500;
      border: none;
    }
    button.sign_up:hover {
      background-color: #3e8a40;
      cursor: pointer;
    }
  }
}

main {
  /* section first */
  section.first {
    padding: 0 144px;
    background-color: #f5f7fa;
    padding-top: 96px;
    margin-bottom: 40px;
    height: 599px;
    div.container {
      height: 276pxpx;
      display: flex;
      gap: 104px;
      h2 {
        color: #4d4d4d;
        font-size: 64px;
        font-weight: 600;
        span {
          font-size: 64px;
          color: #4caf4f;
          font-weight: 600;
        }
      }
      p {
        font-weight: 400;
        font-size: 16px;
        color: #717171;
        margin-top: 16px;
        margin-bottom: 32px;
        width: 549px;
      }

      button.register {
        width: 128px;
        height: 52px;
        color: #ffffff;
        background-color: #4caf4f;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 4px;
      }

      img {
        width: 391px;
        height: 407px;
      }
    }
    div.circles {
      display: flex;
      justify-content: center;
      margin-top: 70px;
    }
  }

  /* section second */
  section.second {
    padding: 0 144px;
    margin-bottom: 40px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 36px;
      font-weight: 600;
      color: #4d4d4d;
    }
    p {
      font-size: 16px;
      color: #717171;
      font-weight: 400;
      margin-top: 8px;
      margin-bottom: 41px;
    }
    div.svgs {
      display: flex;
      gap: 136px;
    }
  }

  /* section third */
  section.third {
    padding: 0 144px;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;

    h3.manage {
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      color: #4d4d4d;
      text-align: center;
      width: 542px;
    }
    p.nextcent {
      font-size: 16px;
      font-weight: 400;
      color: #717171;
      margin-top: 8px;
      margin-bottom: 40px;
    }

    div.card_container {
      display: flex;
      gap: 127.5px;
      div.card {
        width: 299px;
        height: 260px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0px 2px 4px 0px #abbed133;

        h3 {
          font-size: 28px;
          font-weight: 700;
          color: #4d4d4d;
          margin-top: 15px;
          margin-bottom: 8px;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #717171;
        }
      }
      div.one,
      div.three {
        padding: 24px;
      }
      div.two {
        padding: 20px 29px;
      }
      div.three {
        h3 {
          width: 231px;
        }
      }
    }
  }

  /* section fourth */
  section.fourth {
    display: flex;
    height: 433px;
    padding: 0 144px;
    margin-bottom: 49px;
    gap: 50px;
    div.fourth_section_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 601px;
      h3 {
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        color: #4d4d4d;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #717171;
        margin-top: 16px;
        margin-bottom: 32px;
      }
      button.learn_more {
        width: 151px;
        height: 52px;
        border-radius: 4px;
        background-color: #4caf4f;
        font-size: 16px;
        font-weight: 500;
        color: white;
        border: none;
      }
      button.learn_more:hover {
        background-color: #3e8a40;
      }
    }
  }

  /* section.fifth */
  section.fifth {
    height: 288px;
    background-color: #f5f7fa;
    display: flex;
    gap: 204px;

    padding: 64px 144px;
    div.reinvent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 600;
        color: #4d4d4d;
        width: 408px;
        span {
          color: #4caf4f;
        }
      }
      p {
        color: #18191f;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 8px;
      }
    }
    div.img_numbers {
      div.business {
        display: flex;
        align-items: center;
        gap: 16px;
        div.text_numbers {
          span {
            font-size: 28px;
            font-weight: 700;
            color: #4d4d4d;
          }
          p {
            font-size: 16px;
            font-weight: 400;
            color: #717171;
          }
        }
      }
      div.top {
        display: flex;
        gap: 50px;
      }
      div.bottom {
        display: flex;
        gap: 50px;
        margin-top: 40px;
      }
      span {
        display: inline-block;
      }
    }
  }
}
